# R cache
.Rhistory
.RData
.Renviron

# python
__pycache__/
.ipynb_checkpoints/
.idea/
*.ipynb
*.pyc
*.egg
*.egg-info

# OS cache
.DS_Store

# logs
logs/
*.log

# local data
data/
*.p
*.pdf
*.doc
*.docx
*.xls
*.xlsx

# packrat auto
.Rproj.user
packrat/lib*/
packrat/src/
